<p>home works!</p>

<ng-container *ngIf="auth.isAuthenticated$ | async">
  <div>
    Hello <div id="greatings">{{ (auth.user$ | async)?.name }}</div>
  </div>
  <button (click)="auth.logout()">Log out</button>
  <pre>
    <code>
      {{ user }}
    </code>
  </pre>
  <hr/>
  <button id="api" (click)="apiCall()">API call</button>
  <pre>
    <code id="apiResult">{{ output }}</code>
  </pre>
</ng-container>

<ng-container *ngIf="!(auth.isAuthenticated$ | async)">
  <button (click)="auth.loginWithRedirect()">Log in</button>
</ng-container>
